{% extends "layouts_admin.html.twig" %}

{% block title %}Erreur!{% endblock %}

{% block content %}
	<div class="error" id="errorPanel">
		<div class="col-lg-offset-1 col-lg-5 col-xs-5">
			<img class="img-responsive pull-right" src="{{ app.request.basepath }}/images/error_ghost.png" alt="Error ghost"/>
		</div>
		<div class="col-lg-3 col-xs-6">
			<h1>Ooops...<br><small>{{ message }}</small></h1>
		</div>
	</div>
{% endblock %}