
body{
font-family: 'Fjalla One', sans-serif;
}

/********************************/
/*       Barre de navigation     */
/********************************/

.navbar{
  min-height: 60px;
}

.titresite{
    font-size: 30px;
    font-weight: 300;
}

.navbar-inverse{
background-color:#4099FF;

border-radius: 0;
font-size: 16px; /*Police du texte*/
}
/*Couleur du text*/
.navbar-inverse .navbar-nav > li > a{
  color:whitesmoke;
}
/*Couleur du nom du site*/
.navbar-inverse .navbar-brand{
    color:whitesmoke;
}

/********************************/
/*       Fade Bs-carousel       */
/********************************/

.fade-carousel {
    position: relative;
    height: 100vh;
}
.fade-carousel .carousel-inner .item {
    height: 100vh;
}

/*indicateur caroussel*/
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #4099FF;
    border-color:#4099FF;
    opacity: 1;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/***************************************/
/*         Contenu texte caroussel    */
/*************************************/
.texteCaroussel {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.texteCaroussel h1 {
    font-size: 6em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1 img, 
.fade-carousel .slides .slide-2 img,
.fade-carousel .slides .slide-0 img {
	height: 100%;
	width: 100%;
}


/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }    
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }    
}


/*********************************************/
/*          Actualités page d'acceuil       */
/*******************************************/

.actualite{
    width: 100%;
    background-color: #fff;
    padding-top: 80px;
    padding-bottom: 100px;
}

.actualite h2{
  margin-bottom: 20px;
  color: #2F3440;
}


.articles{
    max-height: 580px;
    margin-bottom: 50px;
}

.articles img{
    height:250px;
    max-width: 100%;
 }


/*****************************************/
/*        Page Actualités      */
/***************************************/


.thumbnailActu{
    margin-top: 100px;
    height: 500px;
}

.thumbnailActu p{
    color:#333;
}

.thumbnailActu img{
   height:250px;
    max-width: 100%;

}


/*****************************************/
/*        Page Article solo             */
/***************************************/

.article{
    margin-top: 60px;
    margin-bottom: 100px;
}

.article img{
 height:250px;
max-width: 100%;
}

.article .date{
color: #4099FF;
}



/*************************************************/
/*            presentation Association          */
/***********************************************/

.asso{
    background-color:#404C4C;
    border: 2px;
    border-color: #404C4C;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 70px;
}

.asso h2, p{
    color:whitesmoke;
}

h3, h1{
    color: #4099FF;
}


.bureauHaut{
 padding-top: 70px;   
}

.bureauBas{
padding-top: 40px;
}

.person{
border:5px solid #fff;
    object-fit: cover;
}

.asso h2, p{
    color:whitesmoke;
}

h3, h1{
    color: #4099FF;
}



/*************************************************/
/*           Evenement partie accueil           */
/***********************************************/


.evenements{
    width: 100%;
    height: 350px;
    background-color: #fff;
    padding-top: 80px;
    padding-bottom: 500px;
}

.evenementContent p {
      font-style: italic;
       padding-bottom: 50px;
    color: #333;
}

.thumbmodal img{
  width: 150px; 
   height:100px;
}

.events{
padding-left: 40px;
}

.events li{
cursor: pointer;
}

.events li:hover{
    background-color: #4099FF;
}

.list-group-item:first-child {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
  }
.list-group-item:last-child {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
  }


/*Modal partie event*/

  .modal-header, h4, .close {
      background-color:#4099FF;
      color: #fff !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-header, .modal-body {
      padding: 30px 40px;
  }


/*************************************************/
/*              Page event                      */
/***********************************************/


.event{
    margin-top: 80px;
    margin-bottom: 100px;
}

.event h2{
    margin-top: 10px;
    margin-bottom: 30px;
}

.localisation{
color : #333;
}

.eventHeader{
    background-color:#4099FF;
    color: #fff !important;
    text-align: center;
    font-size: 30px;
}

.text-justify{
    font-size: 18px;
    color: #333;
}

  .thumbnail p {
      margin-top: 15px;
      color: #555;
  }
  .thumbnail button {
      padding: 10px 20px;
      background-color: #4099FF;
      color: #f1f1f1;
      border-radius: 0;
      transition: .2s;
  }
  

/*************************************************/
/*              Button                          */
/***********************************************/


.indexbtn{
    width: 200px;
   background-color:  #404C4C ;
    color: #4099FF ;
}

.indexbtn:hover{
    background-color:#4099FF;
    color: #404C4C;
}

/*************************************************/
/*                charte                        */
/***********************************************/


.jumbotron{
background-color:#404C4C;
    padding-top: 80px;
    padding-bottom: 100px;
}

.indexbtn3{
    background-color: #4099FF;
    width: 200px;
    color: #404C4C;
}

.charte h2{
    color:#4099FF;
}

.telechargementCharte{
    margin-top: 20px;
}

.telechargementAdhesion{
    margin-top: 20px;
}

.adhesion{
    margin-top: 60px;
}

/*************************************************/
/*               Formulaire de contact          */
/***********************************************/

.contact{
    height: 430px;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 450px;
}

.titrecontact{
padding-bottom: 30px;
}


/*************************************************/
/*                  Footer                      */
/***********************************************/


#footerWrapper p{
    color: whitesmoke;
}

#footerWrapper h3{
color:#4099FF;
}

#mainFooter{
background-color: #404C4C;
}

.footerWidgetLeft{
margin-top: 20px;
float: left;
}

.footerWidgetRight{
    float: right;
}

.footerWidget p{
font-size: 14px;    
}

.socialNetwork{
    list-style: none;
}


.socialNetwork a{
    padding-left: 10px;
    color: whitesmoke;
}

.tips:hover{
color: #4099FF;
}

#footerRights{
    background-color: #333;
}



/*************************************************/
/*                  Animation                   */
/***********************************************/


.i1, .i3 {
  color: #4099FF;	
	-webkit-animation-name: bounceIn; 
    -webkit-animation-duration: 20s; 
    animation-name: bounceIn;
    animation-duration: 20s;
}

@-webkit-keyframes bounceIn {
    from {color: #333;}
    to {color: #4099FF;}
}

@keyframes bounceIn {
    from {color:#333;}
    to {color: #4099FF;}  
    
}

.i2{
    
  color: #4099FF;	
	-webkit-animation-name: bounceIn; 
    -webkit-animation-duration: 20s; 
    animation-name: bounceIn;
    animation-duration: 20s;
}

@-webkit-keyframes bounceIn {
    from {color: #333;}
    to {color: #4099FF;}
}

@keyframes bounceIn {
    from {color:#333;}
    to {color:#4099FF ;}  
    
}

/*************************************************/
/*                 css Admin zone                */
/***********************************************/


.contentAdmin {
	margin-top: 80px;
}

.btnSup { 
  background-color: #d9534f; 
}

.btnEdi { 
  background-color: #5bc0de; 
}

.btnAdd { 
  background-color: #337ab7; 
}

.error { 
  margin-top: 100px; 
} 