/*Couleurs
Barre de navigation (Couleur Primaire) :#FF9800;
Navbar - Text :#2F3440;
 */
body{
font-family: 'Fjalla One', sans-serif;
}

/*-----Barre de navigation---*/
.navbar{
  min-height: 60px;
}

.titresite{
    font-size: 30px;
    font-weight: 300;
}

.navbar-inverse{
background-color:#6ECCCC;

border-radius: 0;
font-size: 16px; /*Police du texte*/
}
/*Couleur du text*/
.navbar-inverse .navbar-nav > li > a{
  color:whitesmoke;
}
/*Couleur du nom du site*/
.navbar-inverse .navbar-brand{
    color:whitesmoke;
}

/********************************/
/*       Fade Bs-carousel       */
/********************************/

.fade-carousel {
    position: relative;
    height: 100vh;
}
.fade-carousel .carousel-inner .item {
    height: 100vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #6ECCCC;
    border-color:#6ECCCC;
    opacity: 1;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 6em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #404C4C;
    border-color: #404C4C;
    outline: none;
    margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.fade-carousel .slides .slide-1 {
  background-image: url(../images/Conseil_Administration.jpg); 
}
.fade-carousel .slides .slide-2 {
  background-image: url(../images/reunion.jpg);
}
.fade-carousel .slides .slide-3 {
  background-image: url(../images/reunion2.jpg);
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }    
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }    
}


/*-----Actualités------*/
.actualite h2{
  margin-bottom: 20px;
  color: #2F3440;
}

.articles{
   max-height: 550px;
}


.actualite{
    width: 100%;
    background-color: #fff;
    padding-top: 80px;
    padding-bottom: 100px;
}

.articles img{
    width: 395px;
    height: 200px;
}

/*-------------------------------------------------------------------PAGE ARTICLES-----------------*/
.search{
  margin-top: 25px;
  margin-bottom: 30px;
}
.search input{
  float: left;
}
.search .checkbox{
  float: right;
}


/*------------------------------------Page article seul--------------------------*/

.article{
  
}

.article img{
    width: 70%;
    height: 20%;
}


/*------------------------------------Association-----------------------------------------------*/


.asso{
    background-color:#6ECCCC;
    border: 2px;
    border-color: #404C4C;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 100px;
}

.bureau_haut{
 padding-top: 40px;   
}

.bureau_bas{
padding-top: 20px;
}

.person{
border:10px solid #fff;
    /*object-fit: cover;*/
}

.asso h2, p{
    color:#404C4C;
}

h3{
    color: #404C4C;
}


/*---------------------------------Evenement------------------------------------------------------*/

.evenements{
    width: 100%;
    height: 350px;
    background-color: #fff;
    padding-top: 80px;
    padding-bottom: 500px;
}

bg-1 {
      background: #6ECCCC;
      color: #bdbdbd;
  }
  .bg-1 h3 {color: #fff;}
  .bg-1 p {
      font-style: italic;
       padding-bottom: 50px;
}

.i1{
    color: #333;
}


  .list-group-item:first-child {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
  }
  .list-group-item:last-child {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
  }

  .thumbnail p {
      margin-top: 15px;
      color: #555;
  }
  .thumbnail button {
      padding: 10px 20px;
      background-color: #6ECCCC;
      color: #f1f1f1;
      border-radius: 0;
      transition: .2s;
  }
  .thumbnail button:hover, .thumbnail button:focus {
      border: 1px solid #333;
      background-color: #fff;
      color: #000;
  }
  .modal-header, h4, .close {
      background-color: #6ECCCC;
      color: #fff !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-header, .modal-body {
      padding: 30px 40px;
  }

.indexbtn{
  background-color: #1ABC9C;
    width: 200px;
}
/*--------charte------------*/
.jumbotron{
background-color:#6ECCCC;
    padding-top: 80px;
    padding-bottom: 100px;
}

.telechargementcharte{
    margin-top: 60px;
}


/*---Formulaire de contact--*/
.contact{
    height: 430px;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 450px;
}

.titrecontact{
padding-bottom: 30px;
}
/*-------Footer-------------------*/
/*.footer-distributed{
	background-color:  #404C4C;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	text-align: left;
	font: bold 16px sans-serif;
	height: 200px;
	padding: 15px 50px;
	margin-top: 0px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
*/
/* Footer left */

/*.footer-distributed .footer-left{
	width: 40%;
}*/

/* The company logo */

/*.footer-distributed h3{
	color:   whitesmoke;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}*/

/* Footer links */

/*.footer-distributed .footer-links{
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  whitesmoke;
    
}

.footer-distributed .footer-company-name{
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}*/

/* Footer Center */

/*.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #6ECCCC;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 7px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	vertical-align: middle;
	margin:0;
    color: #6ECCCC;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
    color: black;
	text-decoration: none;;
}
*/

/* Footer Right */

/*.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:   #6ECCCC;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:   #6ECCCC;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}*/

/* responsive du footer */

/*@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}*/

/************** css Admin zone ****************/

.contentAdmin {
	margin-top: 80px;
}

.btnSup { 
  background-color: #d9534f; 
}

.btnEdi { 
  background-color: #5bc0de; 
}

.btnAdd { 
  background-color: #337ab7; 
}

.error { 
  margin-top: 100px; 
} 