body{
    font-family: 'Lora', serif;
}

/*----------------Barre de navigation-----------------*/
.navbar-inverse{
border: none;
border-radius: 0;
font-size: 15px; /*Police du texte*/
}

/**---Formulaire de contact*/
.validation{
  margin-top: 20px;
}

/*-------------------------------------------------------------------PAGE  ACTUALITES-----------------*/
.search{
  margin-top: 25px;
  margin-bottom: 30px;
}
.search input{
  float: left;
}
.search .checkbox{
  float: right;
}
